[submodule "ontology-pddl-generation"]
	path = ontology-pddl-generation
	url = git@github.com:iocroblab/ontology-pddl-generation.git
[submodule "Ontology_population_paper"]
	path = Ontology_population_paper
	url = git@github.com:iocroblab/Ontology_population_paper.git
