[submodule "ontology-pddl-generation"]
	path = ontology-pddl-generation
	url = git@github.com:iocroblab/ontology-pddl-generation.git
[submodule "ontology_instantiation_with_llms"]
	path = ontology_instantiation_with_llms
	url = git@github.com:iocroblab/ontology_instantiation_with_llms.git
